<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <title>Library Catalog</title>
    </head>
    <body>
        <h1>Welcome {{ patron.getName }} to the Checkout Page</h1>
        <h3>Please search for the book you would like to checkout:</h3>

        <form action="/patron/{{ patron.getId }}/books/search" method="get">
            <label for="title">Book Title</label>
            <input type="text" name="title">
            <button type="submit" class="btn btn-success" name="button">Search</button>
        </form>
        <h3>Or look by author:</h3>
        <form action="/patron/{{ patron.getId }}/authors/search" method="get">
            <label for="last_name">Author Last Name</label>
            <input type="text" name="last_name">
            <button type="submit" class="btn btn-success" name="button">Search</button>
        </form>
        <br>
        <p>
            <a href="/">HOME</a>
        </p>
    </body>
</html>
