<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Library Catalog</title>
    </head>
    <body>
        <h1>Library Catalog</h1>
        <p>
            Welcome to the Library Catalog. Your options are listed below.
        </p>
        <p>
            Find a <a href="/books">BOOK</a>.
        </p>
        <p>
            Search for an <a href="/authors">AUTHOR</a>.
        </p>
        <p>
            <a href="/patrons">SIGN IN</a>
        </p>

    </body>
</html>
