<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Library Catalog</title>
    </head>
    <body>
        <h1>Library Patrons</h1>
        <h3>Sign Up!</h3>
        <form action="patrons/add" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" value="">
            <button type="submit" name="button">Sign Up!</button>
        </form>

        <h3>Look up your profile:</h3>
        <form action="/patrons/search" method="get">
            <label for="name">Name:</label>
            <input type="text" name="name">
            <button type="submit" name="button">Search</button>
        </form>
    </body>
</html>
